.content{
	position: relative;
	width: 100%;
}

/*------------Content A--------------*/

.content#a{
	height: 850px;
	background-color: #42BEA8;
}

.aboutWrapper{
	position: relative;
	margin: 0px auto;
	width: 960px;
	display: block;
	font-family: 'Trebuchet MS';
}

.aboutWrapper p{
	text-align: justify;
	font-size: 20px;
}

/*--------------------------------*/



