.content{
	position: relative;
	width: 100%;
}

/*------------Content A--------------*/

.content#a{
	position: relative;
	height: 2700px;
	background-color: #42BEA8;
	padding-top: 50px;
}

.staffWrapper{
	position: relative;
	margin: 0px auto;
	width: 960px;
	display: block;
}

.staffMemberWrapper{
	position: relative;
	float: left;
	width: 320px;
	height: 320px;
	display: block;
	background-color: white;
	background-size: 320px 320px;
	background-repeat: no-repeat;
}

.staffDataWrapper{
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 0, 0, .7);
	overflow: hidden;
	bottom: 0;
}

.staffDataText{
	position: relative;
	margin: 0px auto;
	width: 300px;
	height: 50px;
	color: white;
	font-family: 'Trebuchet MS';
	line-height: 50px;
	font-size: 22px;
	overflow: hidden;
	display: block;
}

.readMore{
	position: relative;
	margin: 0px auto;
	margin-top: -15px;
	width: 300px;
	color: white;
	font-family: 'Trebuchet MS';
	line-height: 50px;
	font-size: 18px;
	display: block;
}

.pageDimmer{
	position: fixed;
	width: 100%;
	height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 50;
    display: none;
    top: 0;
    left: 0;
}

.bioWindow{
	position: fixed;
	width: 700px;
	padding: 15px;
	/*height: 500px;*/
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -350px;
	z-index: 100;
	display: none;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #ffffff 56%, #42bea8 100%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(56%,#ffffff), color-stop(100%,#42bea8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#ffffff 56%,#42bea8 100%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ffffff 0%,#ffffff 56%,#42bea8 100%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#ffffff 56%,#42bea8 100%,#ffffff 100%); /* IE10+ */
background: linear-gradient(135deg,  #ffffff 0%,#ffffff 56%,#42bea8 100%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */



}

.bioImage{
	width: 200px;
	height: 200px;
	margin-right: 10px;
	display: block;
	float: left;
	background-size: 200px 200px;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 10px #000000;
}

.bioText{
	font-family: 'Trebuchet MS';
	font-size: 16px;
}

.bioText h3{
	text-align: left;
}
/*.memberBio{
	display: none;
}*/
/*--------------------------------*/



